@font-face {
    font-family: "regular";
    src: url(../fonts/MrsSheppards-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/blackorchid.png);
    overflow: hidden;
}

.container {
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 600px;
}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 5px solid #fff;
    font-family: regular, cursive;
    font-size: 70px;
    text-align: center;
    line-height: 300px;
    color: #fff;
    backface-visibility: hidden;
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}
